html, body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    font-family: 'Quicksand', sans-serif;
    font-size: 90px;
}

.white {
    background-color: white;
    color:black;
}

.black {
    background-color: black;
    color: white;
}

.title {
    margin-top: 15px;
    margin-left: 25px;
    margin-bottom: 0;
}

ul {
    margin-top: 50px;
    margin-left: 100px;
}

li {
    font-size: 70px;
    padding-bottom: 20px;
}

a {
    color: inherit;
    text-decoration: none;
}

.linked {
    color: #6a6866;
}

.linked:hover {
    text-decoration: line-through;
}

.link:hover {
    color: #6a6866;
    text-decoration: line-through;
}

.icon {
    width: 70px;
}

#mlsa {
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 100px;
}

#mlsa:hover {
    transform: scale(1.5, 1.5);
}

#about {
    margin-top: 35px;
    text-align: center;
}

#footer {
    display: flex;
    justify-content: space-around;
    background-color: #152238;
    color: white;
}

.contact {
    width: 40%;
}

.credit {
    padding-top: 12px;
    font-size: 10px;
}

.me {
    font-size: 20px;
}

.row {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.col {
    text-align: center;
    display: flex;
    flex: 25%;
    padding: 5px;
    justify-content: center;
 }

.level {
    margin-left: 10px;
    margin-bottom: 3px;
    display: inline-flex;
    height: 40px;
    width: 40px;
    border-radius: 3px 3px 3px 3px;
}

.level.five {
    background-color: #008000;
}

.level.four {
    background-color: #7fba00;
}

.level.three {
    background-color: #ffb900;
}